<ng-container
  *ngrxLet="{
    start: start$,
    sessionChars: sessionChars$,
    index: index$,
    status: status$
  } as vm"
>
  @if (text) {
    <div #textRef tabindex="0" (keydown)="handleKeyPressed($event, vm)" class="kw-block w-fit focus:outline-none">
      @for (sessionChar of vm.sessionChars; track $index) {
        <span [ngStyle]="styleChar($index, vm.index, sessionChar)" class="whitespace-pre-wrap font-mono text-2xl">{{
          formatTarget(sessionChar.target)
        }}</span>
      }
    </div>
  }
</ng-container>
