<ng-container
  *ngrxLet="{
    start: start$,
    sessionChars: sessionChars$,
    index: index$,
    status: status$
  } as vm"
>
  <!-- Component -->
  <div
    #textRef
    tabindex="0"
    (keydown)="handleKeyPressed($event, vm)"
    class="w-fit rounded-xs border border-black bg-white p-3 shadow-kw-sm shadow-primary focus:outline-none"
  >
    @if (text) {
      <ng-container *ngTemplateOutlet="sessionChars" />
    } @else {
      <span class="text-2xl">{{ 'wiki.placeholder' | translate }}</span>
    }
  </div>

  <!-- Templates -->
  <ng-template #sessionChars>
    @for (sessionChar of vm.sessionChars; track $index) {
      <span [ngStyle]="styleChar($index, vm.index, sessionChar)" class="whitespace-pre-wrap font-mono text-2xl">{{
        formatTarget(sessionChar.target)
      }}</span>
    }
  </ng-template>
</ng-container>
