<form
  [formGroup]="logInForm"
  (ngSubmit)="handleSubmission()"
  class="mx-auto flex w-fit min-w-80 flex-col gap-6 rounded-xs bg-peace p-12 kw-gradient"
>
  <p class="text-2xl">Log in</p>
  <div class="flex items-center gap-2">
    <input #usernameInput formControlName="username" placeholder="🧑‍💻 Enter username/email" type="text" class="kw-input min-w-48" />
  </div>
  <div class="flex items-center gap-2">
    <input formControlName="password" placeholder="🔐 Enter password" type="password" class="kw-input min-w-48" />
  </div>
  <button [disabled]="!logInForm.valid" class="kw-btn disabled:kw-btn-disabled mx-auto">Log in</button>
</form>
