<form
  [formGroup]="logInForm"
  (ngSubmit)="handleSubmission()"
  class="kw-gradient mx-auto flex w-fit min-w-80 flex-col gap-6 rounded-xs bg-peace p-12"
>
  <p class="text-2xl">Log in</p>
  <div class="flex items-center gap-2">
    <input
      #usernameInput
      formControlName="username"
      placeholder="🧑‍💻 Enter username/email"
      type="text"
      class="kw-input min-w-48"
    />
  </div>
  <div class="flex items-center gap-2">
    <input formControlName="password" placeholder="🔐 Enter password" type="password" class="kw-input min-w-48" />
  </div>
  <kw-button type="submit" [disabled]="!logInForm.valid" [label]="'logIn.submit' | translate" />
</form>
