<div class="mb-6">
  <h1 class="flex text-2xl">{{ 'kamakeyri.experience' | translate }}</h1>
  <p>{{ 'kamakeyri.description' | translate }}</p>
</div>

<kw-session [source]="'kamakeyri.welcomeText' | translate" [metaData]="metaData" />
<kw-typewriter-bubble [text]="'kamakeyri.startTyping' | translate" [speed]="70" [isVisible]="sessionStatus() === 'notStarted'"/>

@if (sessionStatus() === 'closed') {
  <div class="flex flex-col gap-4">
    <p class="text-xl">{{ 'kamakeyri.postSession' | translate }}</p>

    <div class="flex gap-4">
      @for (item of exploreItems; track item.route) {
        <a [routerLink]="item.route" class="kw-btn">
          {{ item.langKey | translate }}
        </a>
      }
    </div>
  </div>
}
