<ng-container
  *ngrxLet="{
    start: start$,
    end: end$,
    keystrokes: keystrokes$,
    errors: errors$,
    status: status$
  } as vm"
>
  <div class="kw-block flex items-center gap-4">
    @for (dataRow of dataRows; track $index) {
      <div class="flex w-32 items-center gap-2">
        <ng-container *ngComponentOutlet="dataRow.svgComponent" />
        <span>{{ dataRow.formatter(vm) }}</span>
      </div>
    }
    @if (vm.status === 'closed') {
      <span>Closed! 🔥</span>
    }
  </div>
</ng-container>
