<div class="mb-6">
  <h1 class="flex text-2xl">{{ 'wiki.title' | translate }}</h1>
  <p>{{ 'wiki.description' | translate }}</p>
</div>
<div (keydown)="handlePostSession($event)" tabindex="0" class="focus:outline-none">
  <div class="mb-6 flex flex-1 items-center justify-between gap-4">
    <div class="flex items-center gap-4">
      <button (click)="handleRandom()" class="kw-btn">Random</button>
      <input
        #wikiInput
        (keydown.enter)="handleInput()"
        [(ngModel)]="input"
        [placeholder]="'wiki.input' | translate"
        class="kw-input w-60"
        type="text"
      />
    </div>
    @if (wikiTitle()) {
      <div class="flex items-center gap-4">
        <span class="text-2xl">{{ wikiTitle() }}</span>
        <button [disabled]="true" (click)="handleRelated()" class="kw-btn kw-btn-disabled">Related</button>
      </div>
    }
  </div>
  @if (wikiIsLoading()) {
    <app-loading-svg />
  } @else if (wikiExtract() && wikiMetaData()) {
    @if (sessionStatus() !== 'inProgress') {
      <div class="mb-6 flex gap-6">
        <span>{{ 'wiki.options.random' | translate }}</span>
        @if (isRelatedEnabled) {
          <span>{{ 'wiki.options.related' | translate }}</span>
        }
      </div>
    }
    <app-session [source]="wikiExtract()!" [metaData]="wikiMetaData()!" />
    <app-session-data />
  } @else {
    <span class="text-2xl">{{ wikiPlaceholder | translate }}</span>
  }
</div>
