<ng-container
  *ngrxLet="{
    title: title$,
    extract: extract$,
    isLoading: isLoading$,
    status: status$
  } as vm"
>
  <div class="mb-6">
    <h1 class="flex text-2xl">{{ 'wiki.title' | translate }}</h1>
    <p>{{ 'wiki.description' | translate }}</p>
  </div>
  <div class="mb-6 flex flex-1 items-center justify-between gap-4">
    <div class="flex items-center gap-4">
      <button (click)="handleRandom()" class="kw-btn">Random</button>
      <input
        [(ngModel)]="input"
        (keydown.enter)="handleWikiInput()"
        [placeholder]="'wiki.input' | translate"
        class="kw-input w-60"
        type="text"
      />
    </div>
    @if (vm.title) {
      <div class="flex items-center gap-4">
        <span class="text-2xl">{{ vm!.title }}</span>
        <button (click)="handleRelated(vm.title)" class="kw-btn">Related</button>
      </div>
    }
  </div>
  @if (vm.isLoading) {
    <app-loading-svg />
  } @else {
    <div class="flex flex-col gap-6">
      <app-typing-text [text]="vm.extract" />
      @if (vm.extract) {
        <app-typing-data />
      }
    </div>
  }
</ng-container>
