<ng-container *ngrxLet="session$ as session">
  <div
    #textRef
    tabindex="0"
    (keydown)="handleKeyPressed($event)"
    class="w-fit border border-black bg-white p-3 shadow-kw shadow-secondary focus:outline-none"
  >
    @if (text) {
      @for (charWrap of session.sessionChars; track $index) {
        <span [ngStyle]="getStyle(session.index, $index, charWrap)" class="font-mono text-2xl">{{
          charWrap.target
        }}</span>
      }
    } @else {
      <span class="font-mono text-2xl">{{ 'wiki.placeholder' | translate }}</span>
    }
  </div>
</ng-container>
