<ng-container *ngrxLet="session$ as session">
  <div
    #textRef
    tabindex="0"
    (keydown)="handleKeyPressed($event)"
    class="w-fit border border-black bg-white p-3 shadow-kw shadow-primary focus:outline-none"
  >
    @if (text) {
      @for (sessionChar of session.sessionChars; track $index) {
        <span [ngStyle]="styleChar($index, session.index, sessionChar)" class="font-mono text-2xl">{{
          sessionChar.target
        }}</span>
      }
    } @else {
      <span class="font-mono text-2xl">{{ 'wiki.placeholder' | translate }}</span>
    }
  </div>
</ng-container>
