<ng-container *ngrxLet="vm$ as vm">
  <div
    #textRef
    tabindex="0"
    (keydown)="handleKeyPressed($event, vm.start)"
    class="w-fit rounded-xs border border-black bg-white p-3 shadow-kw-sm shadow-primary focus:outline-none"
  >
    @if (text) {
      @for (sessionChar of vm.sesssionChars; track $index) {
        <span [ngStyle]="styleChar($index, vm.index, sessionChar)" class="whitespace-pre-wrap font-mono text-2xl">{{
          formatTarget(sessionChar.target)
        }}</span>
      }
    } @else {
      <span class="text-2xl">{{ 'wiki.placeholder' | translate }}</span>
    }
  </div>
</ng-container>
