@if (!isLoading() && sessions().length > 0) {
  <mat-tab-group>
    <!-- Line chart -->
    <mat-tab label="Line chart">
      <ng-template matTabContent>
        <canvas baseChart type="line" [height]="150" [data]="lineChartData()" [options]="lineChartOptions"></canvas>
      </ng-template>
    </mat-tab>
    <!-- Session records -->
    <mat-tab label="Sessions records">
      <ng-template matTabContent>
        <kw-virtual-table [headers]="headers" [rows]="sessions()" />
      </ng-template>
    </mat-tab>
  </mat-tab-group>
} @else {
  <kw-loading-svg />
}
