/* You can add global styles to this file, and also import other style files */
@import '@fontsource/noto-sans/index.css';
@import '@fontsource/noto-sans-mono/index.css';
@import './mat.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .kw-block {
    @apply h-fit w-fit rounded-xs border border-kw-black bg-white/50 p-2;
  }

  .kw-btn {
    @apply transition-colors h-fit w-fit rounded-xs border border-black bg-white/50 p-1 hover:border-primary;
  }

  .kw-btn-disabled {
    @apply disabled:text-gray-50 disabled:hover:border-kw-black disabled:hover:cursor-default disabled:bg-gray-300;
  }

  .kw-input {
    @apply transition-colors h-fit rounded-xs border border-black bg-white/50 p-1 focus:border-primary focus:outline-none;
  }

  .kw-gradient {
    @apply bg-gradient-to-br from-peace from-40% to-fun;
  }

  .kw-cell {
    @apply h-8 px-2 items-center w-36 overflow-x-scroll whitespace-nowrap justify-start
  }

  .kw-row {
    @apply flex h-12 items-center
  }

  .kw-header {
    @apply border-b-2 border-black bg-gray-400 sticky top-0 z-10
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
